<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0>">
    <title>HomePage Design Using HTML & CSS </title>

    <link rel="stylesheet" href="home.css">

    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" 
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>

</head>
<body>

<header>
    <div class="main"></div>

    <nav class="navbar">
        <div class="btn-group">
            <a href="/home"><button class="nav-btn" style="animation-delay: 0.2s"><span>HOME</span></button></a>
            <a href="/ME"><button class="nav-btn" style="animation-delay: 0.4s"><span>ME</span></button></a>
            <a href="/PROJECTS"><button class="nav-btn" style="animation-delay: 0.6s"><span>PROJECTS</span></button></a>
            <a href="/CONTACT"><button class="nav-btn" style="animation-delay: 0.8s"><span>CONTACT</span></button></a>            
        </div>
      </nav>
      
   
    <div class="text-box">
        <h3>SAMIYYAH HUCKABEE</h3>
        <h2>FULL STACK SOFTWARE DEVELOPER</h2>
    </div>
</header>


</div>
</body>
</html> 



</div>
</body>
</html> 
